%h4 = raw t('windows.head', platform: "Linux")
%div.font-size-18.margin-left-10
  %br
  %br
  %a{ href: 'https://ubuntu.fandom.com/ru/wiki/Terminator' } Terminator
  %span - очень удобный терминал, лучше чем дефолтный на Ubuntu
  %p
  %a{ href: 'https://www.tecmint.com/install-oh-my-zsh-in-ubuntu/' } Oh-My-Zsh
  %span - это платформа с открытым исходным кодом для управления конфигурацией ZSH, управляемая сообществом. Груба говоря надстройка на bash. Плагин gnzh.
  %p
  %a{ href: 'https://www.docker.com/products/docker-desktop' } Docker
  %span - платформа для контейнеризации
  %p
  %a{ href: 'https://www.libreoffice.org/discover/libreoffice/' } Libreoffice
  %span - все что есть в Microsoft office но только бесплатно
  %p
  %a{ href: 'https://www.postman.com/' } Postman
  %span - программа для работы с апи запросами
  %p
  %a{ href: 'https://zoom.us/download' } Zoom
  %span - программа для видеоконференций
  %p
  %a{ href: 'https://www.ssh.com/academy/ssh/key' } SSH
  %span - описание того как работать с приватными и публичными ключами ssh