%div.font-size-18.margin-left-10
  %p
  %a{ href: 'https://itsfoss.com/install-ubuntu-1404-dual-boot-mode-windows-8-81-uefi/', target: 'blank' } Ubuntu
  %span=raw t("ubuntu.how_install")
%br
%br
%br

%h4= raw t('windows.head', platform: "Linux")
%div.font-size-18.margin-left-10
  %br
  %br
  %a{ href: 'https://ubuntu.fandom.com/ru/wiki/Terminator' } Terminator
  %span=raw t('windows.terminator')
  %p
  %a{ href: 'https://www.tecmint.com/install-oh-my-zsh-in-ubuntu/' } Oh-My-Zsh
  %span=raw t('windows.zsh')
  %p
  %a{ href: 'https://www.docker.com/products/docker-desktop' } Docker
  %span=raw t('windows.docker')
  %p
  %a{ href: 'https://developer.fedoraproject.org/tools/docker/docker-installation.html' } Docker (Fedora)
  %span=raw t('windows.docker')
  %p
  %a{ href: 'https://www.libreoffice.org/discover/libreoffice/' } Libreoffice
  %span=raw t('windows.libbre')
  %p
  %a{ href: 'https://www.postman.com/' } Postman
  %span=raw t('windows.postman')
  %p
  %a{ href: 'https://zoom.us/download' } Zoom
  %span=raw t('windows.zoom')
  %p
  %a{ href: 'https://www.ssh.com/academy/ssh/key' } SSH
  %span=raw t('windows.ssh')