%div.font-size-18.margin-left-10
  %p
  %a{ href: 'https://hardsoft-support.kayako.com/article/3-reinstalling-os-x-on-your-mac', target: 'blank' } MacOsx
  %span=raw t("mac.how_install")

%br
%br
%br

%h4= raw t('windows.head', platform: "MacOs")
%div.font-size-18.margin-left-10
  %br
  %br
  %a{ href: 'https://iterm2.com/' } ITterm2
  %span=raw t('windows.terminator2')
  %p
  %a{ href: 'https://www.tecmint.com/install-oh-my-zsh-in-ubuntu/' } Oh-My-Zsh
  %span=raw t('windows.zsh')
  %p
  %a{ href: 'https://www.docker.com/products/docker-desktop' } Docker
  %span=raw t('windows.docker')
  %p
  %a{ href: 'https://brew.sh/' } Homebrew
  %span=raw t('windows.homebrew')
  %p
  %a{ href: 'https://www.libreoffice.org/discover/libreoffice/' } Libreoffice
  %span=raw t('windows.libbre')
  %p
  %a{ href: 'https://www.appstorrent.ru/programs' } Appstorrent
  %span=raw t('windows.appstorrent')
  %p
  %a{ href: 'https://www.postman.com/' } Postman
  %span=raw t('windows.postman')
  %p
  %a{ href: 'https://paw.cloud/' } Paw
  %span=raw t('windows.paw')
  %p
  %a{ href: 'https://zoom.us/download' } Zoom
  %span=raw t('windows.zoom')
  %p
  %a{ href: 'https://tunnelblick.net/downloads.html' } Tunnelblick
  %span=raw t('windows.vpn')
  %p
  %a{ href: 'https://www.ssh.com/academy/ssh/key' } SSH
  %span=raw t('windows.ssh')
