%h2.text-center Java Mobile

%ul.nav.nav-tabs.margin-left-10
  %li.active
    %a{"data-toggle" => "tab", href: "#home"} TestNg
  %li
    %a{"data-toggle" => "tab", href: "#menu1"} JUnit5
  %li
    %a{"data-toggle" => "tab", href: "#menu2"} Cucumber
.tab-content
  #home.tab-pane.fade.in.active
    %h3 TestNg + Espresso
    %p Some content.
  #menu1.tab-pane.fade
    %h3 JUnit5 + Espresso
    %p Some content in menu 1.
  #menu2.tab-pane.fade
    %h3 Cucumber + Espresso
    %p Some content in menu 1.


