%h JS Mobile

%ul.nav.nav-tabs.margin-left-10
  %li.active
    %a{"data-toggle" => "tab", href: "#home"} Protractor
  %li
    %a{"data-toggle" => "tab", href: "#menu1"} Mocha
  %li
    %a{"data-toggle" => "tab", href: "#menu2"} Cypress
  %li
    %a{"data-toggle" => "tab", href: "#menu3"} PlayWright
.tab-content
  #home.tab-pane.fade.in.active
    %h3 Protractor + Jasmine + Appium
    %p Some content.
  #menu1.tab-pane.fade
    %h3 Mocha + Chai + Appium
    %p Some content in menu 1.
  #menu2.tab-pane.fade
    %h3 Cypress + Appium
    %p Some content in menu 1.
  #menu3.tab-pane.fade
    %h3 PlayWright + Appium
    %p Some content in menu 1.
