@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-select';
@import 'bootstrap-table/bootstrap-table';
@import "glyphicons";
@import "main_page";
@import "spiner";
@import "web";

@debug '________ applciation compiled______';

.radius {
  border-radius: 30px;
  background-color: antiquewhite;
}

.img-container-center {
  text-align: center;
  display: block;
}

.size-85 {
  width: 85%;
}

.size-35 {
  width: 35%;
}

.size-55 {
  width: 55%;
}

.size-100 {
  width: 100%;
}

.margin-left-10 {
  margin-left: 25%;
}

.margin-left-30 {
  margin-left: 30px;
}

.margin-left-40 {
  margin-left: 40px;
}

.margin-left-60 {
  margin-left: 60px;
}

.display-flex {
  display: flex;
}

.padding-10 {
  padding: 10px;
}

.margin-top-75 {
  margin-top: 73px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-20 {
  margin-left: 20px;
}

.pull-down {
  position: absolute;
  bottom: 15px;
}

.font-size-24 {
  font-size: 24px !important;
}

.font-size-18 {
  font-size: 18px !important;
}

.font-size-14 {
  font-size: 18px !important;
}

.fw-900 {
  font-weight: 900;
}
.pull-rigth-90-perc {
  position: relative;
  top: -20px;
  left: 90%;
}

body {
  display: grid;
  grid-template-areas:
  "nav header ads"
  "nav article ads"
  "nav footer ads";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 250px 1fr 25%;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;

  background-image: url(background.jpg);
}

header#pageHeader, footer#pageFooter, article#mainArticle, nav#mainNav, div#siteAds {
  padding: 20px;
}

#pageHeader {
  grid-area: header;
}

.line-bottom {
  border-bottom: 3px solid #dee2e6;
}

#pageFooter {
  grid-area: footer;
}

#mainArticle {
  grid-area: article;
}

#mainNav {
  position: relative;
  grid-area: nav;
  background: #1b1c1d;
  font-size: 16px;
  display: inline-table;
  height: 100%;
  a {
    text-decoration: none !important;
    color: #7f808a;
  }
}

#siteAds {
  grid-area: ads;
}

.dropdown-toggle::after {
  display: none;
  margin-top: 9px;
  margin-left: 0.555em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

select > option[value="male"]   { background-image:url(back.png);   }
select > option[value="female"] { background-image:url(female.png); }
