%h2 Ruby back

%ul.nav.nav-tabs.margin-left-10
  %li.active
    %a{"data-toggle" => "tab", href: "#home"} Rspec
  %li
    %a{"data-toggle" => "tab", href: "#menu1"} Cucumber
.tab-content
  #home.tab-pane.fade.in.active
    %h3 Rspec + RestClient
    %p Some content.
  #menu1.tab-pane.fade
    %h3 Cucumber + RestClient
    %p Some content in menu 1.
