%br
  %br

  .display-flex.pull-down
    %a#my.display-flex.padding-10{:href => "#" }
      #icon-blog
      %span{:style => "margin-left:10px;"} О блоге
      :javascript
        $(document).ready(function() {
          $("#my").click(function(e) {
              e.preventDefault();
              $.ajax({ url: "/about", type: "get", data: { locale: '#{params[:locale]}'} });
          });
        });
