- if logged_in?
  :javascript
    $(function() {
      App.common = App.cable.subscriptions.create("Channel_" + "#{current_user.id}", {

          connected: function() {
              $('.ws').text("Online").css("color", "black");
          },

          disconnected: function() {
              $('.ws').text("Offline").css("color", "red");
          }
      });

    function connected() { $('.ws').text("Online").css("color", "black"); }

    connected();

    console.log('modal')
    console.log("USER = #{current_user.id.to_s}")

    //Sender to WebScokets
    console.log('modal')
      $( "#add_client," +
        "#add_all_client," +
        "#add_all_client_1," +
        "#add_all_client_2," +
        "#create_client_ul," +
        "#update_client_ul," +
        "#create_client_ip," +
        "#update_client_ip," +
        "#copy_client_ip," +
        "#create_dul," +
        "#create_trust," +
        "#add_compliance," +
        "#add_buh_account," +
        "#add_actualization," +
        "#add_rur," +
        "#add_usd," +
        "#add_eur," +
        "#create_corp, " +
        "#create_account," +
        "#add_other_cash_acc," +
        "#fee," +
        "#cur," +
        "#add_ban," +
        "#add_nib_role," +
        "#delete_compliance," +
        "#add_client_from_eq," +
        "#get_cards," +
        "#change_card," +
        ".icon-upload-csv," +
        "#add_albo," +
        "#modal-add-personal," +
        ".icon-chrome," +
        ".icon-actual," +
        ".icon-actual," +
        ".copy-client," +
        ".icon-add-eq," +
        "#add_from_eq," +
        "#wsdl-add," +
        ".create_client_egrul_egrip," +
        "#open-from-browser," +
        ".icon-chrome-revert"

        ).on('click', function() {
          App.client_add_mdm = App.cable.subscriptions.create("Channel_" + "#{current_user.id}", {
              received: function() {
                  let msg = $.parseJSON(event.data)['message']['message']
                  let client = $.parseJSON(event.data)['message']['client']

                  if (client == null) {
                      check_opreration('hold', msg, '#367b36');
                      check_opreration('success', msg, 'green');
                      check_opreration('ws', msg, 'green');
                      check_opreration('orange', msg, '#f78f0b');
                      check_opreration('danger', msg, 'red');
                  } else {
                      check_opreration('hold', msg, '#367b36');
                      check_opreration('success', msg, 'green');
                      check_opreration('ws', msg, 'green');
                      check_opreration('orange', msg, '#f78f0b');
                      check_opreration('danger', msg, 'red');
                  }
              }

          });
      });

      //
      $('#add_all_client').on('click', function() { $('#client').val('') })
      $('#add_all_client_1').on('click', function() { $('#client').val('') })
      $('#add_all_client_2').on('click', function() { $('#client').val('') })

      function check_opreration(status, msg, color) {
          let data = $('.client_added').text(msg);
          console.log('add css style');
          if ($.parseJSON(event.data)['message']['operation'] === 'danger') { data.css('color', color).css('fonts-size', '16px') }
          if ($.parseJSON(event.data)['message']['operation'] === status) { data.css('color', color) }
          if ($.parseJSON(event.data)['message']['operation'] === 'ws') { connected() }
      }

      ////
      $("#client_ip").hide()
      $("#type_client").on('change', function() {
          if ( this.value  == "UL") {
              $("#client_ip").hide();
              $("#client_ul").show();
          } else {
              $("#client_ip").show();
              $("#client_ul").hide();
          }

      });

      $("#change_dul").hide();
      $("#type_dul").on('change', function() {
          if ( this.value  == "Создать") {
              $("#change_dul").hide('500');
              $("#dul_new").show('500');
          } else {
              $("#change_dul").show('500');
              $("#dul_new").hide('500');
          }
      });

      $('.code-word-ul').hide('500')
      $('.code-word-ip').hide('500')
      $('.code-word-dul').hide('500')

      $("#code_word_need_ul").on('change', function() {
        if ($(this).is(':checked')) {
          $(".code-word-ul").show('500');
        } else {
          $(".code-word-ul").hide('500');
        }
      });

      $("#code_word_need_ip").on('change', function() {
        if ($(this).is(':checked')) {
          $(".code-word-ip").show('500');
        } else {
          $(".code-word-ip").hide('500');
        }
      });

      $("#code_word_need_dul").on('change', function() {
        if ($(this).is(':checked')) {
          $(".code-word-dul").show('500');
        } else {
           $(".code-word-dul").hide('500');
        }
      });


      $(".add_address_ul").hide();
      $(".add_address_1_ul").hide();
      $(".add_address_2_ul").hide();
      $(".add_address_3_ul").hide();

      $(".add_address_ip").hide();
      $(".add_address_1_ip").hide();
      $(".add_address_2_ip").hide();
      $(".add_address_3_ip").hide();

      $(".add_address_dul").hide();
      $(".add_address_1_dul").hide();
      $(".add_address_2_dul").hide();
      $(".add_address_3_dul").hide();

      $(".add_address_change_dul").hide();

      //Clipboard
      var clipboard = new Clipboard('.clipboard-btn');
      console.log(clipboard);


      $(window).load(function() {
        $(".loader").hide();
      });
    });

