%a.hover-add-size.dropdown-toggle.display-flex.padding-10{"aria-controls" => "other", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#other", :role => "button" }
  #icon-other
  %span{:style => "margin-left:10px;"}= raw t("other.other")
%ul#other.collapse.list-unstyled.margin-left-40
  %li.hover-add-size.display-flex.padding-10
    #icon-docker
    %a#other-docker.scroll-link.margin-left-10{:href => "#other/docker"} Docker
  %br


:javascript
  $(document).ready(function() {
    $("#other-docker").click(function(e) {
        e.preventDefault();
        $.ajax({ url: "/other/docker", type: "get", data: { locale: '#{params[:locale]}'} });
    });
  });

  $(document).ready(function() {
    $("[href=\"#other\"]").click(function(e) {
        e.preventDefault();

        params_hide = { install: true, win: true, linux: true, mac: true, fedora: true, back: true, mobile: true, gui: true }
        show_hide(params_hide)
    });
  });
