= select_tag(:option, options_for_select([['🇷🇺', "ru"], ['🇬🇧', "en"]], selected: params[:locale] ), class: "margin-left-20 btn btn-dark font-size-18", id: "select_lang")

-#%select#select_lang.margin-left-20.btn.btn-dark.font-size-18{ selected: params[:locale] }
-#  %option{ value: "ru" } 🇷🇺
-#  %option{ value: "en" } 🇬🇧

:javascript
  $(document).ready(function() {
    $('#select_lang').change(function(){
      window.location = $(this).val()
    });
  })
