= select_tag(:option, options_for_select([['🇷🇺', "ru", {:class=>'font-size-34'}], ['🇬🇧', "en", {:class=>'font-size-34'}]], selected: params[:locale] ), class: "margin-left-20 btn btn-dark font-size-34", id: "select_lang")

:css
  option: {
    font-size: 34px !important;
  }

  select {
    background: #1b1c1d !important;
  }

-#%select#select_lang.margin-left-20.btn.btn-dark.font-size-18{ selected: params[:locale] }
-#  %option{ value: "ru" } 🇷🇺
-#  %option{ value: "en" } 🇬🇧

:javascript
  $(document).ready(function() {
    $('#select_lang').change(function(){
      window.location = $(this).val()
      // $.ajax({ url: "/main", type: "get", data: { locale: $(this).val() }});
    });
  })

