%br
%br
%div.font-size-18
  .line-bottom
    %h3 Установка языка программирования Java на Ubuntu
  %br
  %br
  %br
  %p
  1) Откройте терминал в Ubuntu и обновите пакеты командой
  <pre class=\"code code-shell-cmd\" title=\"triple click to select command\">sudo apt update</pre>
  %br
  %p
  2) Выполните команду <pre class="code code-shell-cmd" title="triple click to select command">apt install openjdk-8-jre-headless</pre>
  %p
    или
  %p
    <pre class="code code-shell-cmd" title="triple click to select command">apt install openjdk-11-jre-headless</pre>
  %br
    %i Если по какойто причине у вас возникли проблемы с установкой , перейдите по ссылке и попробуте по этому
    %a{ href: 'https://www.digitalocean.com/community/tutorials/how-to-install-java-with-apt-on-ubuntu-18-04', target: '_blank' } гайду
  %br
  %br
  %p
  = raw "3) После установки, можно посмотреть версию, набрав и выполнив команду <pre class=\"code code-shell-cmd\" title=\"triple click to select command\">java -version</pre>"
  %p
  %p
  .margin-left-10
    В результате отобразится версия Java:
  %p
.margin-left-10
  %iПример
  %p
  %img.size-55{src: "/assets/install/java/java-install.png"}

  %br
  %br

%div.font-size-18
  .line-bottom
    %h3 Установка IDE для разработки (редактор)
  %br
  %p
  Есть много хороших редакторов которыми пользуються для написания кода по Java, некоторые из них:
  %p
  %ul
    %li
      %a{ href: 'https://code.visualstudio.com/', target: '_blank'  } Visual Studio Code
  %ul
    %li
      %a{ href: 'https://atom.io/', target: '_blank'  } Atom
  %ul
    %li
      %a{ href: 'https://www.sublimetext.com/', target: '_blank'  } Sublime
  %ul
    %li
      %a{ href: 'https://www.jetbrains.com/idea/', target: '_blank'  } IntelliJ IDEA

  %br
    %i В дальнейшем будет показан код в редакторе WebStorm, вы же можете использовать любой редактор который вам по душе.

  %br
%div.font-size-18
  .line-bottom
    %h3 Итог
  %br
  %p
    = raw "Когда у вас есть установленый язык программирования на ОС и есть хороший редактор для вашего нового проекта, вы можете смело пробовать свои силы для написания простого или сложного теста, но для начала выбирете раздел:"
  %p
  %ul
    %li
      %a{ href: '#', onclick: "document.querySelector('#icon-web').click();document.querySelector('#web-java').click()"} Способ как написать простые GUI тесты
  %ul
    %li
      %a{ href: '#', onclick: "document.querySelector('#icon-back').click();document.querySelector('#back-java').click()"} Способ как написать простые API тесты
  %ul
    %li
      %a{ href: '#', onclick: "document.querySelector('#icon-mobile').click();document.querySelector('#mobile-java').click()"} Способ как написать простые Mobile тесты

