%br
%br

%blockquote
  = raw t ('apis.line1').html_safe
  %blockquote
    = raw t ('apis.line2').html_safe
  %blockquote
    = raw t ('apis.line3').html_safe
  %blockquote
    = t ('apis.line4').html_safe

%br
%br
%span.img-container-center.margin-left-10
  %img.size-55{src: "/assets/api.jpg"}
