%h4 Что такое автоматизированое тестирование и зачем оно нужно?
%h1= t :hello
%h1= t :header
-#%h1= I18n.default_locale

%ul
  %li= link_to 'Русский', root_path(locale: :ru)
  %li= link_to 'English', root_path(locale: :en)